<main class="main" id="conts">
    <div style="float: right;margin-top: -3%;color: brown">
        {{loginDetails}}
    </div>
    <section class="bgwhite">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Thanks For Donation!You can donate from here</h2>
                    <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
                        style="margin-left: 42%;">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="RFG5E5F3WYR4N" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                            border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                            alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"
                            height="1" />
                    </form> -->
                    <span>
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>