<div class="container" id="conts">
    <form class="form-horizontal" role="form" [formGroup]="registerForm">
       <aside class="profile-info col-lg-9">

    <div class="form-group">
            <label  class="col-lg-2 control-label requiredMark">Full Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="name" placeholder="Full Name" formControlName="name" [readonly]="submit">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label">Nick Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="nname" placeholder="Nick Name" formControlName="nickName" [readonly]="submit">
            </div>
        </div>
         <div class="form-group">
            <label  class="col-lg-2 control-label requiredMark">Login Id</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="loginid" placeholder="Login Id" formControlName="loginid" [readonly]="submit">
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-lg-2 control-label requiredMark">Password</label>
            <div class="col-lg-6">
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" [readonly]="submit">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label requiredMark">Contact Number</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="mobile" placeholder="Contact Number" formControlName="contactNumber" [readonly]="submit">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label">Student</label>
            <div class="col-lg-6">
                 <mat-select formControlName="student" class="form-control" multiple >
                   <mat-option *ngFor="let s of studentList" [value]="s.value">{{s.label}}</mat-option>
                 </mat-select>
           </div>
            
        </div>
        <div class="form-group">
           <label  class="col-lg-2 control-label requiredMark">Country</label>
           <div class="col-lg-6">
               <input type="text" class="form-control" id="email" placeholder="Country " formControlName="country" [readonly]="submit">
           </div>
       </div>
        <!-- <div class="form-group last">
                <label class="control-label col-lg-2">Image Upload</label>
                <div class="col-lg-6">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                        <div>
                         <span class="btn btn-white btn-file">
                         <span class="fileupload-new"><i class="icon-paper-clip"></i> Select image</span>
                         <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                         <input type="file" class="default" />
                         </span>
                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Remove</a>
                        </div>
                    </div>
                    
                </div>
            </div>
         -->

         <div class="form-group">
           <div class="col-lg-offset-2 col-lg-10">
               <button type="submit" class="btn btn-success btnSubmit" [disabled]="!registerForm.valid || submit" (click)="onSubmit()">Submit</button>
               <button type="button" class="btn btn-default btnCancel" (click)="cancel()">Cancel</button>
           </div>
       </div>
       </aside>
       <aside class="profile-nav col-lg-1">
           <div class="col-md-6">

               <!-- Form starts -->        
                   <div class="group-gap">
   
                       <!-- Upload image -->
                       <div class="avatar-upload">
                           <div class="avatar-edit">
                               <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
               </div>
               <div class="avatar-preview">
                 <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'"> </div>
                   <img id="myimage" [src]='thumbnail' />                     
               </div>
             </div>
           </div>
   
             <!-- Submit Button -->
             <button type="submit" class="btn btnSubmit" (click)="fileInput.click()">Upload Image</button>
   
   
       </div>
       </aside>
    </form>
</div>
