<div class="body">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
          <img src="assets/images/1.jpg" alt="Los Angeles" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="assets/images/2.jpg" alt="Chicago" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="assets/images/3.jpg" alt="New york" style="width:100%;">
        </div>
        <div class="item">
            <img src="assets/images/4.jpg" alt="New york" style="width:100%;">
          </div>
      </div>

      <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="col-sm-12">
    <div class="row" style="margin-top: 4%;">
      <div class="col-4 user1">
        <span>
          <h3 style="background-image: linear-gradient(to right,#ceb1b0,#e6d5d3);">Challenge Poverty</h3>
        </span>
        <span>
          <strong>“We cannot change the system but we can challenge the poverty”</strong>
          <br>
          Academicians urge that the high dropout rate is due to poverty and the system ....
        </span>
        <span class="moreInfo">
          <p data-toggle="modal" data-target="#moreInfo">More Information</p>More Information
        </span>
      </div>
      <div class="col-4 user2">
        <span>
          <h3 style="background-image: linear-gradient(to right,#98d6ca,#eacac6);">Untold Stories</h3>
        </span>
        <span>
          <strong>“The untold stories of their lives where dreams remain unfulfilled”</strong>
          <br>
          Joseph Addison once said, “Education is a companion which no misfortune can depress, ...
        </span>
        <span class="moreInfo">
          <p data-toggle="modal" data-target="#moreInfo2">More Information</p>More Information
        </span>
      </div>
      <div class="col-4 user3">
        <span>
          <h3 style="background-image: linear-gradient(to right,#e68c1c,#dcd4be);">Right is Struck</h3>
        </span>
        <span>
          <strong>“Where human right is struck”</strong>
          <br>
          According to the Article 26 of the United Nations Charter of Human Rights, everyone has the right to education. Education is a ...
        </span>
        <span class="moreInfo">
          <p data-toggle="modal" data-target="#moreInfo3">More Information</p>
        </span>
      </div>
    </div>
  </div>
    <div class="row col-sm-12" style="margin-top: 2%;height: 600px;">
      <div class="col-sm-7" style="background-color: whitesmoke;height: 615px;box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;">
        <span class="header">
          <h2>Welcome to HoldHand</h2>
        </span>
        <span>
          We are pleased to have you visit us. HoldHand is the brainchild of a few enthusiastic, young and motivated American residents of Bangladeshi origin.

Our mission at HoldHand is to help and support poor and meritorious students in Bangladesh. There are quite of them and we are trying our best to help as many as possible.

HoldHand is trying to achieve this by establishing relationships with other like-minded individuals who are willing to dedicate their time and effort for this noble cause. So far, HoldHand has established a strong relationship with more than eight members from many different professional backgrounds and different fields.

Like an ocean which is made up of small drops of water, even a small donation will help us educate these needy students.

On behalf of the HoldHand team we welcome and thank you for spending your invaluable time and visiting our website.
        </span>
      </div>
      <div class="col-sm-5">
        <div class="row" style="margin-left: 10px;height: 305px;">
          <span>
            <h3>Scholarship Awarded So Far</h3>
          </span>
          <span>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
      
            <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item active">
                <img src="assets/images/gallery/1.jpg" alt="1" style="width:100%;">
              </div>
        
              <div class="item">
                <img src="assets/images/gallery/2.jpg" alt="2" style="width:100%;">
              </div>
            
              <div class="item">
                <img src="assets/images/gallery/3.jpg" alt="3" style="width:100%;">
              </div>
              <div class="item">
                <img src="assets/images/gallery/4.jpg" alt="4" style="width:100%;">
                </div>
            </div>
          </div>
          </span>
        </div>
        <div class="row" style="margin-top: 1%;margin-left: 10px;height: 250px;">
          <span>
            <h3>Scholarship Awarded So Far</h3>
          </span>
          <span>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
          <!-- <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> -->
      
            <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item active">
                <img src="assets/images/gallery/1.jpg" alt="1" style="width:100%;">
              </div>
        
              <div class="item">
                <img src="assets/images/gallery/2.jpg" alt="2" style="width:100%;">
              </div>
            
              <div class="item">
                <img src="assets/images/gallery/3.jpg" alt="3" style="width:100%;">
              </div>
              <div class="item">
                <img src="assets/images/gallery/4.jpg" alt="4" style="width:100%;">
                </div>
            </div>
          </div>
            <!-- <div class="row imggrid"> 
              <div class="column">
                <img src="assets/images/gallery/1.jpg" alt="1" style="width:100%;">
                <img src="assets/images/gallery/2.jpg" alt="2" style="width:100%;">
                <img src="assets/images/gallery/3.jpg" alt="3" style="width:100%;">
              </div>
              <div class="column">
                <img src="assets/images/gallery/4.jpg" alt="4" style="width:100%;">
                <img src="assets/images/gallery/5.jpg" alt="5" style="width:100%;">
                <img src="assets/images/gallery/6.jpg" alt="6" style="width:100%;">
              </div>
            </div> -->
          </span>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="moreInfo" role="dialog" style="padding-right: 10%;padding-top: 10%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Challenge Poverty
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      “We cannot change the system but can challenge the poverty”

Academicians urge that the high dropout rate of students moving from primary to secondary schools is caused mainly due to poverty.

There are some systemic problems as well, but changing the system is difficult.

HoldHand is trying to do its bit to overcome the 'poverty' bit, by providing scholarships to needy and deserving students.

We at holdHand believe that “We cannot change the system but can challenge the poverty”.
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="moreInfo2" role="dialog" style="padding-right: 10%;padding-top: 10%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Untold Stories
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      “The untold stories of their lives where dreams remain unfulfilled”

Joseph Addison once said, “Education is a companion which no misfortune can depress, no crime can destroy, no enemy can alienate, no despotism can enslave. At home, a friend, an abroad, an introduction, in solitude a solace and in society an ornament. It chastens vice, it guides virtue, it gives at once grace and government to genius. Without it, what is man? A splendid slave, reasoning savage.”

He was quite right. Unfortunately, for many Bangladeshis, education remains to be a dream. Fulfilling this dream is a difficult task due to extreme poverty. Bright students have to drop out and face the world with no education to arm them.

HoldHand has a dream of helping these students achieve their dreams through education.
    </div>
    </div>
  </div>
</div>


<div class="modal fade" id="moreInfo3" role="dialog" style="padding-right: 10%;padding-top: 10%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Right is Struck
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      “Where human right is struck”

According to the Article 26 of the United Nations Charter of Human Rights, everyone has the right to education.

Education is a right and is required for the full development of the human personality. It also leads to strengthening of respect for human rights and fundamental freedoms. Not only that, the parents have a prior right to choose the kind of education that would be given to their children.

In the constitution of Bangladesh, Article 17 emphasizes on free and compulsory education.

If we take a look at the real picture in Bangladesh, we can easily spot the vehement disregard of human rights when it comes to education. Students enroll into schools but cannot continue due to poverty. They have to dropout. Once a students drops out at the primary (basic) level, illiteracy is not far off. Re-entry in to a formal school system is closed off in most cases. With the lack of education finding work is difficult and this leads to further poverty and gets into a vicious cycle.
    </div>
    </div>
  </div>
</div>
