.btnSubmit{
    margin:12px;
    display: inline-block;
    border: none;
    min-width: 156px;
    font-size: 16px;
    padding: 10px 20px;
    background:#ec8862;
    color: #fff !important;
    line-height: normal;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    }

    .inputBox{
        width: 100%;
        height: 30px;
        font-size: 13px;
        padding-left: 1%;
        border: 1px solid #c4c9ce;
    }

    .faqBox {
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
        background-color: aliceblue;
        margin-bottom: 2em;
    }

    .msg{
        background-color: lightgreen;
        margin: 2px;
        padding: 4px;
    }

    #conts{
        border: 1px solid #f44336;
        width: 95%;
        padding: 2%;
        border-radius: 11px;
        background-color: whitesmoke;
    }

    .requiredMark:after {
        content: "*";
        color: #ff0000;
    }